<div class="Skill Skill__{{skill.id}}"
     (click)="onSkillClicked()"
     [ngClass]="{'Skill--Unlocked': !skill.isLocked(), 'Skill--Can-Be-Unlocked': skill.canBeUnlocked() && skill.isLocked(), 'Skill--Locked': skill.isLocked() && !skill.canBeUnlocked()}">
  <div class="Skill__Name">
    {{ skill.name }}
  </div>
  <i class="fas fa-lock Skill__Icon"
     *ngIf="skill.isLocked() && !skill.canBeUnlocked()"></i>
  <i class="fas fa-lock-open Skill__Icon"
     *ngIf="skill.isLocked() && skill.canBeUnlocked()"></i>
</div>
<ng-container *ngIf="canDrawLine">
  <svg class="Shape"
       *ngFor="let child of skill.directChildren">
    <line class="Shape__Line"/>
  </svg>
</ng-container>
