.Skill {
  position: relative;
  display: inline-block;
  width: 150px;
  margin: 20px;
  padding: 10px;
  background: rgba(168, 170, 170, 0.4);
  border: 1px solid #cccccc;
  border-radius: 4px;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  text-align: center;
  transition: all 0.25s ease;
  cursor: pointer;
  z-index: 999;

  &.Skill--Locked {
    text-decoration: line-through;
  }

  &.Skill--Unlocked {
    background: #4BB543;
  }

  &.Skill--Can-Be-Unlocked {
    border: 1px solid rgb(186, 188, 188);
    background: rgb(168, 170, 170);
  }

  &:not(.Skill--Locked):hover {
    transform: scale(1.1);
    box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
    z-index: 999;
  }

  &__Name {
    color: #ffffff;
    font-family: 'Slabo 27px', serif;
    text-transform: capitalize;
  }

  &__Icon {
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 12px;
    margin-top: -6px;
  }
}

.Shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &__Line {
    stroke-width: 2px;
    stroke: #cccccc;
    animation: fadein 5s ease-in;
  }
}

@keyframes fadein {
  from { stroke-width: 0; }
  to   { stroke-width: 2px; }
}
