<div class="Tree"
     @list>
  <div @items
       *ngFor="let skillsGroup of treeGroups"
       [ngClass]="'Tree__Nodes' + skillsGroup.key">
    <app-skill *ngFor="let skill of skillsGroup.entries"
               #skills
               (clicked)="onSkillClicked($event)"
               (hasLoaded)="handleLoadedSkill($event)"
               [skill]="skill"></app-skill>
  </div>
</div>
<app-skill-modal #skillModal>
</app-skill-modal>
