.modal-skill {

  .form-control {
    font-size: 14px;
    height: 34px;
  }

  .list-group {

    .list-group-item {
      cursor: pointer;

      &.unlocked {
        background: #4BB543;
      }

      &.locked {
        background: #ed5249;
      }
    }

    i {
      position: absolute;
      right: 5px;
      top: 50%;
      font-size: 12px;
      margin-top: -6px;
    }
  }

  .btn {
    font-size: 13px;
  }
}
