<div class="modal fade"
     bsModal
     #skillModal="bs-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-skill"
       *ngIf="skillToShow">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name"
            class="modal-title pull-left">
          Skill Information
        </h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="skillModal.hide()">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="skillName">
              Name:
            </label>
            <input type="text"
                   id="skillName"
                   class="form-control"
                   value="{{skillToShow.name}}"
                   readonly>
          </div>
          <div class="form-group">
            <label for="isLocked">
              Is Locked:
            </label>
            <input type="text"
                   id="isLocked"
                   class="form-control"
                   value="{{skillToShow.isLocked() ? 'Yes' : 'No'}}"
                   readonly>
          </div>
          <div class="form-group">
            <label for="canBeUnlocked">
              Can Be Unlocked:
            </label>
            <input type="text"
                   id="canBeUnlocked"
                   class="form-control"
                   value="{{skillToShow.canBeUnlocked() ? 'Yes' : 'No'}}"
                   readonly>
          </div>
          <div class="form-group"
               *ngIf="skillToShow.dependencies.length > 0">
            <label>
              Parent Nodes:
            </label>
            <ul class="list-group">
              <ng-container *ngFor="let dependent of skillToShow.dependencies">
                <li class="list-group-item"
                    (click)="setActiveSkill(dependent)"
                    [ngClass]="{'unlocked': dependent.isUnlocked(), 'locked': dependent.isLocked()}">
                  {{ dependent.name }}
                  <i class="fas fa-lock"
                     *ngIf="dependent.isLocked()"></i>
                  <i class="fas fa-lock-open"
                     *ngIf="dependent.isUnlocked()"></i>
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="form-group"
               *ngIf="skillToShow.children.length > 0">
            <label>
              Children Nodes:
            </label>
            <ul class="list-group">
              <ng-container *ngFor="let child of skillToShow.children">
                <li class="list-group-item"
                    (click)="setActiveSkill(child)"
                    [ngClass]="{'unlocked': child.isUnlocked(), 'locked': child.isLocked()}">
                  {{ child.name }}
                  <i class="fas fa-lock"
                     *ngIf="child.isLocked()"></i>
                  <i class="fas fa-lock-open"
                     *ngIf="child.isUnlocked()"></i>
                </li>
              </ng-container>
            </ul>
          </div>
          <button class="btn btn-success"
                  type="button"
                  [disabled]="!skillToShow.canBeUnlocked()"
                  *ngIf="skillToShow.isLocked()"
                  (click)="skillToShow.unLock()">
            Unlock
          </button>
          <button class="btn btn-danger"
                  type="button"
                  *ngIf="skillToShow.isUnlocked()"
                  (click)="skillToShow.lock()">
            Lock
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
