@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html {
  min-height: 100%;
}

body {
  height: 100vh;
  font-size: 15px;
  background-image: linear-gradient(to top, #051937, #172f57, #284779, #3a609d, #4c7bc2);
}
